<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buffrapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".UpdateReadyNotifier"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".OrderStatusLooper"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".UpdatesChecker"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".UpdateDownloader"
            android:exported="false"></service>

        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/NoTransitions" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/NoTransitions" />
        <activity
            android:name=".Products"
            android:label="@string/title_activity_products"
            android:theme="@style/NoTransitions" />
        <activity
            android:name=".History"
            android:label="@string/title_activity_history"
            android:theme="@style/NoTransitions" />
        <activity
            android:name=".Requests"
            android:label="@string/title_activity_requests"
            android:theme="@style/NoTransitions" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>